/* Reset default margin and padding */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Apply global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #290e7a;
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

button[type="submit"] {
  padding: 10px;
  background-color: #9d3cdf;
  color: #fff;
  border: 1px solid #430f56;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(66, 181, 226);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.hide {
  display: none;
}

#weatherIcon {
  width: 100px;
  height: 100px;
}

#weatherDesc {
  text-transform: capitalize;
}

#previousSearches {
  list-style-type: none;
  margin-top: 20px;
}

#previousSearches li {
  margin-bottom: 10px;
  cursor: pointer;
}